.titulo {
    -fx-text-fill: #ffffff;
    -fx-font-family: Tahoma;
    -fx-font-weight: bold;
    -fx-font-size: 23px;
}
.fondo {
    -fx-background-color: linear-gradient(to bottom right, #21666C, #745be3);
    -fx-border-color: #000000;
    -fx-border-width: .4px 0px .4px .4px;
}
.fondo-superior {
    -fx-background-color: #ffffff;
}
.lbl-General {
    -fx-text-fill: #000000;
    -fx-font-family: Tahoma;
    -fx-font-size: 20px;
}
.lbl-Error{
    -fx-text-fill: #ff0000;
    -fx-font-weight: bold;
}
.textfield{
    -fx-background-color: linear-gradient(to bottom, #efefef,#eeeeee);
    -fx-border-color: linear-gradient(to bottom right, #21666C, #745be3);
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
}
.textfield:focused{
    -fx-border-width:1.8px;
    -fx-background-color:#fff;
}
.btn-update{
    -fx-background-color:#304575;
    -fx-background-radius:8px;
    -fx-text-fill:#fff;
    -fx-font-size:16px;
    -fx-font-family:"Arial";
    -fx-cursor:hand;
}
.btn-update:hover{
    -fx-background-color:#3357a4;
}

.btn-cancelar{
    -fx-background-color:#86253f;
    -fx-background-radius:8px;
    -fx-text-fill:#ffff;
    -fx-font-size:16px;
    -fx-font-family:"Arial";
    -fx-cursor:hand;
}
.btn-cancelar:hover{
    -fx-background-color:#ae1d46;
}